h1 {
    display: flex;
    justify-content: center;
    font-family: Athelas, serif;
    font-size: 70px;
}

.btnFlag {
    margin-top: 300px;
    font-size: 20px;
    position: relative;
    left: 25%;
}

body {
    background-color: #e8c48c;
}

.imgFlag {
    margin-left: 570px;
    margin-top: -400px;
}

.answerBtns {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 590px;
    margin-bottom: 70px;
}
