.answerHistory {
    text-align: center;
    margin-top: 70px;
    font-family: Gotu, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

h2 {
    padding: 20px;
}

#deleteBtn{
    border-width: 2.2px;
    border-style: solid;
    background-color: #e43713;
    color: black;
    margin-top: 15px;
}