
body {
    background-color: #9dbcea;
}

.imgFlag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

#b0 {
    position: fixed;
    top: 380px;
    left: 350px;
    color: aliceblue;
    border-width: 2.2px;
    border-style: solid;
    border-color: black;
    width: 160px;
    height: 60px;
    font-size: 20px;
    background-color: #2257e8;
    font-family: Gotu, serif;
}

#b1 {
    position: fixed;
    top: 520px;
    left: 520px;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-width: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: #f0c678;
    color: black;
    border-radius: 0.4em;
    font-family: Gotu, serif;
}

#b2 {
    position: fixed;
    top: 600px;
    left: 520px;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-width: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: #f0c678;
    color: black;
    border-radius: 0.4em;
    font-family: Gotu, serif;
}

#b3 {
    position: fixed;
    top: 600px;
    left: 780px;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-width: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: #f0c678;
    color: black;
    border-radius: 0.4em;
    font-family: Gotu, serif;
}

#b4 {
    position: fixed;
    top: 520px;
    left: 780px;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-width: 2.2px;
    border-style: solid;
    border-color: black;
    background-color: #f0c678;
    color: black;
    border-radius: 0.4em;
    font-family: Gotu, serif;
}


#points {
    position: fixed;
    top: 250px;
    left: 1150px;
    font-size: 30px;
    font-family: Gotu, serif;
    font-weight: bold;
}