header {
    position: sticky;
    top: 0;
    background-color: #2257e8;

}

h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 60px;
    color: #100525
}

.nav {
    position: relative;
    font-family: sans-serif;
    color: aliceblue;
    font-size: 19px;

    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}
