h2 {
    text-align: center;
    font-family: Gotu, serif;
    text-decoration: underline;
}

.continentButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 2px;
}

#EuBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif
}

#AsianBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #d57b77;
}

#AfricaBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #d2d976;
}

#NorthBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #d7bd7b;
}

#randomBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #b695dc;
}

.continentsBtn {
    background-color: #5fbb7a;
    font-size: 25px;
}
