h2 {
    text-align: center;
    font-family: Gotu, serif;
    text-decoration: underline;
}

.continentButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 2px;
}

#EuBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #3baf5d;
}

#AsianBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #e75a54;
}

#AfricaBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #c6ce44;
}

#NorthBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #d3aa3b;
}

#randomBtn {
    width: 450px;
    height: 90px;
    font-family: Gotu, serif;
    background-color: #a77cd9;
}

.continentsBtn {
    font-size: 25px;
}
